<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
  stderr="true"
>
  <testsuites>
		<testsuite name="TestSuite">
			<directory suffix=".php">tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="PHPUNIT_TEST" value="1" />
		<server name="REMOTE_ADDR" value="0.0.0.0" />
	</php>
</phpunit>