body{
  overflow:hidden;
  font-size:13px;
}
.wrap{
  box-sizing:border-box;
  width:540px;
  
}
.zu-wrap{
  padding:20px;
  height:300px;
  overflow-y:scroll;
  border-bottom:0px;
}
.layui-btn-group{
  width:100%;
}
.layui-btn{
  width:50%;
}
select{
  width:80px;
}