body{
  overflow:hidden;
  font-size:13px;
  overflow:hidden;
}
.wrap{
  box-sizing:border-box;
  width:380px;
  
}
.zu-wrap{
  padding:20px;
  height:40px;
  
  border-bottom:0px;
}
.layui-btn-group{
  width:100%;
}
.layui-btn{
  width:50%;
}
.layui-form-item{
  padding:0px 45px;
}